body {
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 15px 35px 45px 35px;
    background-image: linear-gradient(green, navy);
    color: white;
}
h1 {
    text-align: center;
    font-size: 2rem;

}
#img1 {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px black solid;
}
#img2, #img3, #img4, #img5, #img6, #img7 {
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-right: 35%;
    border: 2px black solid;
}
iframe {
    margin: 15px 33% 15px 33%;
    border: 2px black solid;
}
footer {
    text-align: center;
    
}